.tox .tox-notification--in {
    opacity:0 !important;
}
.tox .tox-toolbar--scrolling {
 position: sticky;
 bottom: 10%;
}

.tox .tox-statusbar__text-container{
    display: none !important;
}
.css-1x51dt5-MuiInputBase-input-MuiInput-input {
    font-size: 1.17em !important;
    font-weight: bolder !important;
}
.tox-tinymce{
    border: 0px !important;
    border-radius: 0px !important;
}
.tox .tox-statusbar {
    display: none !important;
}
.tox-notification.tox-notification--in.tox-notification--warning {

    display: none;

}